*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-bg-clr: #0284c7;
    --secondary-bg-clr: #e0f2fe;
    --font-clr: #ffffff;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10rem 1fr;
}

/******************* Sidebar *****************/
.sidebar {
    grid-row: 1 / -1;
    padding: 1.2rem;
    background-color: var(--primary-bg-clr);
}

.sidebar>h1 {
    font-size: 1.8rem;
    color: var(--font-clr);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.sidebar>h1>svg {
    width: 3rem;
    fill: var(--secondary-bg-clr);
}

.sidebar a {
    text-decoration: none;
    color: var(--font-clr);
}

.sidebar ul {
    list-style-type: none;
}

.site-nav {
    margin-top: 3rem;
}

.main-nav,
.setting-nav {
    font-size: 1.3rem;
    display: grid;
    gap: 1rem;
}

.setting-nav {
    margin-top: 4rem;
}

.nav-link {
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 1rem;
}

.nav-link:hover {
    background-color: var(--secondary-bg-clr);
    color: var(--primary-bg-clr);
}

.nav-link:hover svg {
    fill: var(--primary-bg-clr);
}

.nav-link>svg {
    fill: var(--secondary-bg-clr);
}

/******************* Header *****************/
.header {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0.8rem 2rem;
}

.search-bar {
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 1rem;
}

.search-icon,
.bell-icon {
    width: 2em;
}

#search {
    border-radius: 15px;
    height: 2rem;
    background-color: var(--secondary-bg-clr);
    border: 1px solid var(--primary-bg-clr);
    padding: 0 1rem;
    font-size: 1.2rem;
}

.user-setting {
    display: grid;
    grid-template-columns: repeat(2, 3em) 7em;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.user-setting>.avatar {
    width: 2.5rem;
    height: 2.5rem;
}

.user-info {
    height: 6rem;
    display: grid;
    grid-template-columns: 5em 1fr;
    align-items: center;
    gap: 1rem;
}

.user-info>.avatar {
    width: 4.5rem;
    height: 4.5rem;
}

.profile-btn {
    display: grid;
    grid-template-columns: repeat(3, 6em);
    align-items: center;
    justify-content: end;
    gap: 1.5em;
}

.profile-btn>button {
    height: 2.2rem;
    border-radius: 18px;
    background-color: var(--primary-bg-clr);
    color: var(--font-clr);
    border: none;
    font-size: 1rem;
}

.search-icon:hover,
.bell-icon:hover ,
.profile-btn>button:hover,
.user-setting>.avatar:hover,
.user-info>.avatar:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.search-icon:hover,
.bell-icon:hover {
    fill: var(--primary-bg-clr);

}

.profile-btn>button:hover {
    box-shadow: 2px 2px 5px grey;
}

.user-setting>.avatar:hover,
.user-info>.avatar:hover {
    box-shadow: 2px 2px 5px var(--primary-bg-clr);
}

/******************* Main content *****************/
.main-content {
    background-color: var(--secondary-bg-clr);
    padding: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 16rem;
    grid-template-rows: 24rem 1fr;
}

.project-container {
    grid-row: 1 / -1;
}

.project {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.project .card {
    background: linear-gradient(90deg, #c7d2fe 0 3%, white 3% 100%);
    padding: 2rem;
    border-radius: 12px;
}

.project .card-icon {
    display: grid;
    grid-template-columns: repeat(3, 1.5rem);
    justify-content: end;
    gap: 1.5rem;
    margin-top: 2rem;
}

.project .card-icon>svg:hover {
    fill: var(--primary-bg-clr);
    cursor: pointer;
    transform: scale(1.5);
}

.announcement {
    background-color: white;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 12px;
}

.announcement p {
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.announcement .paragraph-divider {
    border-top: 1px solid #ccc;
    margin-top: 1rem;
    padding-top: 1rem;
}

.trending {
    background-color: white;
    padding: 1.2rem;
    margin-top: 1rem;
    border-radius: 12px;
    display: grid;
    gap: 1.8rem;
}

.trending .trending-user {
    display: grid;
    grid-template-columns: 3.2em 1fr;
    align-items: center;
    gap: 0.5em;
}

.trending p {
    font-size: 0.9rem;
}

.trending-user>.avatar {
    width: 3rem;
    height: 3rem;
}

.project .card:hover,
.announcement h5:hover,
.announcement p:hover,
.trending .avatar:hover,
.trending h5:hover,
.trending p:hover{
    cursor: pointer;
}

.trending .avatar:hover {
    box-shadow: 2px 2px 5px var(--primary-bg-clr);
    transform: scale(1.2);
}

.avatar {
    border-radius: 50%;
}